$theme-color: #222831;
$main-color: #393e46;
$secondary-color: #fd7014;
$warning-color: #ff9494;
$link-color: #00ffff;

.btn {
  display: block;
  appearance: none;
  border: 1px solid #333;
  padding: 16px;
  border-radius: 4px;
  cursor: pointer;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
}
