$theme-color: #222831;
$main-color: #393e46;
$secondary-color: #fd7014;
$warning-color: #ff9494;
$link-color: #00ffff;

.btn {
  appearance: none;
  transition: all 0.4s ease;
  border: 1px solid $secondary-color;
  border-radius: 4px;
  cursor: pointer;
}

@mixin btn-main {
  background-color: $secondary-color;
  color: white;

  > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
}

@mixin btn-outline {
  background-color: white;
  color: $secondary-color;
}
