@import './config';

.App {
  min-height: 100vh;
  min-height: 100dvh;
  padding: 24px;
  background-color: $theme-color;
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 48px;
}
