@import './config';

.home {
  max-width: 720px;
  background-color: rgba($color: $main-color, $alpha: 0.9);
  border-radius: 5px;
  padding: 20px;
  display: grid;
  gap: 24px;

  &__top {
    border-bottom: 1px solid $secondary-color;
  }

  &__heading {
    max-width: 680px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    color: rgba($color: white, $alpha: 0.7);
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
  }

  &__logout-btn {
    padding: 12px;
    @include btn-outline;

    &:hover {
      @include btn-main;
    }
  }

  &__fetch-btn {
    width: 160px;
    padding: 12px;
    @include btn-main;

    &:disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }

    &:hover:enabled {
      @include btn-outline;
    }

    &_disabled {
      opacity: 0.4;
      cursor: not-allowed;
      pointer-events: none;
    }
  }

  &__notActivated {
    text-align: center;
    line-height: 2;
    color: hsl(0, 100%, 80%);
  }

  &__content {
    color: white;
  }
}

.content {
  &__heading {
    font-size: 24px;
  }

  &__usersList {
    list-style: none;

    li {
      padding-left: 8px;
      display: list-item;
      margin-left: 8px;
    }
    li::marker {
      content: '-';
    }
  }
}
